.StatsDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    border: 1px solid white;
    margin: 1rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.StatsDiv>h2 {

    margin: 1rem;
    color: white;
    text-transform: capitalize;
}

.StatsTable {
    width: 80%;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.StatsTable>thead>tr>th {
    background: linear-gradient(to right, black, crimson);
    width: 10rem;
    padding: .5rem;
}



.StatsTable>tbody>tr>td {
    background: linear-gradient(to right, black, red);
    width: 10rem;
    padding: .5rem;
}

.StatsTable>tbody>tr>td:nth-child(even) {
    background: linear-gradient(to right, black, rgb(251, 51, 51));
}