.Categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
    height: 10rem;
    background-color: lightgreen;
    margin: 1rem;
}

.Category {
    margin: 1rem;
    width: 10rem;
    text-align: center;
    padding: 1rem;
    background-color: lightcyan;
}

.Category:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}