.Categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    border: 2px solid crimson;
    box-shadow: 0 0 30px rgba(255, 255, 255);
    animation: pulse 5s infinite;
    padding: 4rem;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.Category {
    margin: 1rem;
    width: 15rem;
    text-align: center;
    padding: 1rem;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: .5rem;
    background: linear-gradient(to right, black, darkred);
    color: white;
}

.Category:hover {
    animation: pulse 1s infinite;
    cursor: pointer;
    background: linear-gradient(to right, black, red);
}