.LeaderboardTable {
    margin: 2rem;
    width: 70%;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: .5rem;

}

.LeaderboardTable>thead>tr>th {
    text-decoration: underline;
}