.GameModes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 10rem;
    flex-wrap: wrap;
    border: 2px solid crimson;
    box-shadow: 0 0 30px rgba(255, 255, 255);
    animation: pulse 5s infinite;
    margin-bottom: 3rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

}

.GameMode {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 5rem;
    border: 1px solid white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    background: linear-gradient(to right, black, darkred);
    border-radius: .5rem;
    font-size: 2rem;
}

.GameMode:hover {
    animation: pulse 1s infinite;
    cursor: pointer;
    background: linear-gradient(to right, black, red);
}

.PageTitle {
    width: 30%;
    text-align: center;
    border: 1px solid crimson;
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    color: white;
    animation: pulse 5s infinite;
}