.StatDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem;
    border: 1px solid crimson;
    width: 70%;
    animation: pulse 5s infinite;
    border-radius: .5rem;
    position: relative;
    margin-bottom: 15rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
}

.StatDiv>h1 {
    color: white;
}