.LeaderboardOptionsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 5rem;
    border: 1px solid white;
    border-radius: .5rem;
    margin: 1rem;
    padding: .5rem;
}

.LeaderboardOption {
    text-align: center;
    width: 8rem;
    color: white;
    border-radius: .5rem;
    border: 1px solid white;
    background: linear-gradient(to right, black, darkred);
    padding: 1rem;
}

.LeaderboardOption:hover {
    animation: pulse 1s infinite;
    cursor: pointer;
    background: linear-gradient(to right, black, red);
}

.Selected {
    animation: pulse 1s infinite;
    background: linear-gradient(to right, black, orangered);
}