.ProfileDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5rem;
    width: 50rem;
    background-color: crimson;
}



.ProfileStats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50rem;
    background-color: lightblue;
}

.ProfileQuestions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgreen;
    width: 50rem;

}

.Questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    background-color: lightpink;
    padding: 0;
    list-style: none;
}

.Questions>li {
    margin: .5rem;
}

.Question {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: lightblue;

}