.ProfileQuestions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
    border-radius: .5rem;
    width: 80%;
    color: white;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.ProfileQuestions>h2 {
    text-transform: capitalize;
    margin: 1rem;
}

.Questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    list-style: none;
    margin-top: 0;
}

.AddQuestion {
    color: white;
    background: linear-gradient(to right, black, darkred);
    font-size: 1.5rem;
    font-family: 'Aladin';
    width: 15rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.AddQuestion:hover {
    background: linear-gradient(to right, black, red);
    cursor: pointer;
    animation: pulse 1s infinite;
}