.ProfileQuestions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgreen;
    width: 50rem;

}

.Questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40rem;
    background-color: lightpink;
    padding: 0;
    list-style: none;
}