.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid crimson;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    animation: pulse 5s infinite;
    background-color: rgba(0, 0, 0, 0.8);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(127, 127, 127, 0.5);
    }

    100% {
        box-shadow: 0 0 20px 30px rgba(255, 255, 255, 0);
    }
}

.NavList {
    display: flex;
    list-style-type: none;
}

.NavList>li>a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

a.underline {
    position: relative;
    text-decoration: none;
}

a.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s ease;
}


a.underline:hover::after {
    width: 100%;
}


a.underline.active::after {
    width: 100%;
}